* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #F8F8F8;
    color: #101720;
}

span {
    color: #2A2A87;
}

/* Navigation Bar */

header {
    position: sticky;
    top: 0;
    z-index: 5;
}

nav {
    background-color: #101720;
    width: 100%;
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #F8F8F8;
}

nav a:hover {
    background-color: lightgrey;
    color: #101720;
    transition: all 250ms ease;
}

nav li:first-child {
    margin-right: auto;
}

.logo:hover {
    background-color: #101720;
    color: #F8F8F8;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: #101720;
}

.sidebar a:hover {
    background-color: #101720;
    color: #F8F8F8;
}


.material-symbols-outlined {
    color: #F8F8F8;
}

.hide_on_desktop {
    display: none;
}

/* Graphic Design */

/* Background */

h1 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1rem;
    font-weight: 300;
    width: 45rem;
}

.background img {
    width: 100%;
}

.text {
    position: absolute;
    top: 12.5rem;
    left: 19.3rem;
    color: #F8F8F8;
    text-align: center;
    z-index: 4;
    border: 1.5px solid #F8F8F8;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: rgba(16, 23, 32, 0.9);
}

/* Tools */

.tools img {
    width: 10rem;
    box-shadow: 2px 2px 8px #101720;
    border-radius: 30px;
}

.tools .icon_reshape {
    border-radius: 80px;
}

.tools p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.tools {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    padding: 1.5rem 0;
    justify-items: center;
    align-items: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    margin: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-align: center;
}

/* Responsive Styles */

@media only screen and (max-width: 1024px) {
    .hide_on_desktop {
        display: block;
    }

    .hide_on_mobile {
        display: none;
    }

    .text {
        top: 10rem;
        left: 8.2rem;
    }
}

@media only screen and (max-width: 820px) {
    .text {
        top: 7.2rem;
        left: 2.2rem;
    }
}

@media only screen and (max-width: 768px) {
    .text {
        top: 7rem;
        left: 2rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        width: 42rem;
    }
}

@media only screen and (max-width: 480px) {
    .sidebar {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 0.8rem;
        width: 24rem;
    }

    .text {
        top: 3.8rem;
        left: 0.9rem;
    }

    .tools img {
        width: 8rem;
    }

    .tools {
        grid-template-columns: repeat(2, 1fr);
    }

    .tools p {
        width: 12rem;
    }
}